body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.muslim-girl{
    color: darkblue;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.everything{
    width: 40%;
    padding-left: 5%;
}
.everything img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato); 
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.happy{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}